#tutorial

In [1]:
pip install requests pandas

Requirement already satisfied: requests in c:\users\eyehc\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: pandas in c:\users\eyehc\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\eyehc\anaconda3\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\eyehc\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\eyehc\anaconda3\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\eyehc\anaconda3\lib\site-packages (from requests) (2025.4.26)
Requirement already satisfied: numpy>=1.26.0 in c:\users\eyehc\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\eyehc\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\eyehc\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\eyehc\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\eyehc\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
# API setup
base_url = "https://www.omdbapi.com/"
api_key = "e2ee939f"  # Replace this with your actual OMDb API key
# Parameters for the GET request
params = {
    "apikey": api_key,
    "s": "star wars"
}
# Sending the GET request
response = requests.get(base_url, params=params)

In [4]:
if response.status_code == 200:
    results = response.json() ['Search']
else:
    print("Error:", response.status_code)

In [5]:
import pandas as pd

movies_list = []

# Extracting data for each movie
for result in results:
    movies_details = {
        "Title": result['Title'],
        "Year": result["Year"],
        "ID": result['imdbID'],
        "Type": result["Type"]
    }
    movies_list.append(movies_details)

# Creating the DataFrame
movies_df = pd.DataFrame(movies_list)

# Displaying the first few rows of the DataFrame
print(movies_df.head())

                                            Title  Year         ID   Type
0              Star Wars: Episode IV - A New Hope  1977  tt0076759  movie
1  Star Wars: Episode V - The Empire Strikes Back  1980  tt0080684  movie
2      Star Wars: Episode VI - Return of the Jedi  1983  tt0086190  movie
3      Star Wars: Episode VII - The Force Awakens  2015  tt2488496  movie
4       Star Wars: Episode I - The Phantom Menace  1999  tt0120915  movie

In [20]:
#Getting the Astronomy picture of the day (APOD)from NASA

import requests
import pandas as pd
from IPython.display import Image, display

base_url = "https://api.nasa.gov/planetary/apod"
api_key = "u61DP4EdWB7m45AXTdRtePxiUeqcV42p0Upx067I"  # Replace this with your actual OMDb API key
# Parameters for the GET request
params = {
    "api_key": api_key,
}
# Sending the GET request
response = requests.get(base_url, params=params)

if response.status_code == 200:
    data = response.json()
   
print("Title:", data["title"])
print("Date:", data["date"])
print("Explanation:", data["explanation"])

# Display image
if data["media_type"] == "image":
    display(Image(url=data["url"]))
else:
    print("Media is not an image:", data["url"])

Title: Plato and the Lunar Alps
Date: 2026-01-15
Explanation: The dark-floored, 95 kilometer wide crater Plato and sunlit peaks of the lunar Alps (Montes Alpes) are highlighted in this this sharp telescopic snapshot of the Moon's surface. While the Alps of planet Earth were uplifted over millions of years as continental plates slowly collided, the lunar Alps were likely formed by a sudden collision that created the giant impact basin known as the Mare Imbrium or Sea of Rains. The mare's generally smooth, lava-flooded floor is seen below the bordering mountain range. The prominent straight feature cutting through the mountains is the lunar Alpine Valley (Vallis Alpes). Joining the Mare Imbrium and northern Mare Frigoris (Sea of Cold) the valley extends toward the upper right, about 160 kilometers long and up to 10 kilometers wide. Of course, the large, bright lunar alpine mountain below and right of Plato crater is named Mont Blanc. Lacking an atmosphere, not to mention snow, the lunar Alps are probably not an ideal location for a winter vacation. Still, a 150 pound skier would weigh a mere 25 pounds on the Moon.

In [22]:
#Call Asteroids NeoWs API

import requests
base_url = "https://api.nasa.gov/neo/rest/v1/feed"
api_key = "u61DP4EdWB7m45AXTdRtePxiUeqcV42p0Upx067I"  # Replace this with your actual OMDb API key
# Parameters for the GET request
params = {
    "start_date": "2024-01-01",
    "end_date": "2024-01-07",
    "api_key": api_key
}
# Sending the GET request
response = requests.get(base_url, params=params)
data = response.json()

In [24]:

asteroids = []

for date in data["near_earth_objects"]:
    for obj in data["near_earth_objects"][date]:
        asteroid_id = obj["id"]
        name = obj["name"]
        min_diameter = obj["estimated_diameter"]["kilometers"]["estimated_diameter_min"]
        absolute_magnitude = obj["absolute_magnitude_h"]
        velocity = float(obj["close_approach_data"][0]["relative_velocity"]["kilometers_per_second"])

        asteroids.append([
            asteroid_id,
            name,
            min_diameter,
            absolute_magnitude,
            velocity
        ])

df = pd.DataFrame(asteroids, columns=[
    "Asteroid ID",
    "Asteroid Name",
    "Min Estimated Diameter (km)",
    "Absolute Magnitude",
    "Relative Velocity (km/s)"
])

df.head()

,Asteroid ID,Asteroid Name,Min Estimated Diameter (km),Absolute Magnitude,Relative Velocity (km/s)
0,2415949,415949 (2001 XY10),0.355267,19.37,15.890526
1,3160747,(2003 SR84),0.016771,26.00,10.719182
2,3309828,(2005 YQ96),0.199781,20.62,15.670282
3,3457842,(2009 HC21),0.101054,22.10,6.080866
4,3553062,(2010 XA11),0.016016,26.10,8.741383

In [25]:
df.to_csv("nasa_asteroids.csv", index=False)
print("CSV file saved as nasa_asteroids.csv")

CSV file saved as nasa_asteroids.csv

In [26]:
import os
os.getcwd()

'C:\\Users\\eyehc'

In [ ]:
#‚ÄúMy City Life Assistant‚Äù
#Create a Python app (in Colab or Jupyter) that helps a student understand what‚Äôs happening in their city today using an API.

import requests
import pandas as pd

base_url = "https://api.openweathermap.org/data/2.5/weather"
api_key = "cbb6d75434d453aede8f2a759de06ce0"

def city_life_assistance():
    username = input("Enter your usename: ") 
    city = input("Enter the name of your city: ")
    
params = {
    "q": city,
    "appid": api_key
    "units": metric
}

response = requests.get(url, params = params)
if response.status_code = 200:
    print("city not found. Can you try again")

data = response.json()

temp = data["main"]["temp"]
weather = data["weather"] [0] ["description"]
wind_speed = data["wind_speed"]

print(f"\nHello {name} üëã")
print(f"Weather in {city}: {temp}¬∞C, {weather}. {wind_speed}")

    if temp <= 9:
        jacket = "Heavy jacket needed üß•"
    elif temp <= 19:
        jacket = "Light jacket recommended üôÇ"
    else:
        jacket = "No jacket needed üòé"

   
    if "rain" in weather.lower():
        rain_msg = "Bring an umbrella ‚òî"
    else:
        rain_msg = "No rain expected üå§"
    if wind_speed 
    

    print(jacket)
    print(rain_msg)

In [1]:
import os
os.getcwd()

'C:\\Users\\eyehc'